<section class="Main">
    <div class="jumbotron hero">
        <div class="container text-center col-md-6 offset-md-3 white-text">
            <h1 class="display-6 white-text">EXTEND YOUR TEAM WITH WORLD-CLASS DEVELOPERS.</h1><br>
            <p class="lead">Setih connects top employers with untapped talent from Latin America.</p>
            <br>
            <p class="lead">
                <a class="btn btn-danger btn-lg" href="#" role="button">Get Started</a>
            </p>
        </div>
    </div>
</section>

<section class="yellow">
    <div class="container-fluid">
        <div class="col-md-6 offset-md-3">
            <h1 class="mb-3 text-center">ACCESS OUR EXCLUSIVE NETWORK OF TALENT.</h1>
            <p>Our developers are experienced, knowledgeable and have worked with the world’s leading tech companies.</p>

        </div>
    </div>
    <br>
    <div class="companies text-center">
        <div class="grid slim-padding">
            <div class="col-md-8 offset-md-2"><img srcset="http://i.imgur.com/25nJ3Zk.png" class="company-logos"></div>
        </div>
    </div>
</section>

<section class="yellow">
    <div class="container-fluid">
        <div class="col-md-6 offset-md-3">
          <h1 class="text-center">HOW IT WORKS</h1>
          <hr>
            <div class="list-group">
                <a class="about-list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-3 white-text">1. FIND AND TRAIN UNTAPPED TALENT IN LATIN AMERICA.</h5>
                    </div>
                    <p class="mb-1">We scour tens of thousands of candidates to find the right developer(s) for you.</p>

                </a>
                <a class="about-list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-3 text-white">2. PLACE TALENT ON YOUR TEAM BASED ON YOUR NEEDS.</h5>

                    </div>
                    <p class="mb-1">We assess your needs and match them with the developer(s) best suited to meet them.</p>
                </a>
                <a class="about-list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-3 text-white">3. DELIVER REAL-TIME TECHNICAL SUPPORT AND PROFESSIONAL DEVELOPMENT.</h5>

                    </div>
                    <p class="mb-1">We support our developers with a network of senior engineers and mentors to ensure ongoing success.</p>

                </a>
            </div>
        </div>
    </div>
</section>

<section class="yellow">
    <div class="container-fluid">
            <div class="col-md-6 offset-md-3">

                <h1 class="mb-3">
                    <b>CLOSING THE GLOBAL SKILLS GAP</b>
                </h1>
                <p class="padded hidden visible mb-5">There are 5 job openings for every software developer in the United States. By unlocking new global talent pipelines, we are creating a scalable platform to help close the global skills gap while investing in the world’s most underutilized resource: human capital.</p>

                <h1 class="mb-3">
                    <b>SELF-FUNDING TECHNOLOGY TRAINING</b>
                </h1>
                <p class="padded hidden visible mb-5">We are ushering in a self-funding model of education. Instead of charging tuition, we pay our graduate-level trainees (called Andela Fellows) to learn, financing their education through the client work they do upon completing their initial training.</p>
                <h1 class="mb-3">
                    <b>WHY LARIN AMERICA?</b>
                </h1>
                <p class="hidden visible mb-5">We look for talent where no one else is looking for. We identify youth with high potential, despite their economic limitations, and give them the opportunity to become awesome developers. The result is life transformation for each or our developers and a new source of tech talent from Latin America to the world.</p>

            </div>
        <!-- end of FQA -->

    </div>
</section>
